Gold Layer - Business Analytics (SQL)

Explanation:
-- In this layer we are gooing to produce business analysis from the cleaned Silver data.
  - Most borrowed books
  - Average delay per genre
  - staff count by role
  
**Think of this as:** The library's monthly reports that help make decisions about which books to buy more of.

##### We have set catalog and schema. This is going to help us create tables in selected schema. Running the cell below is going to help us achieve that.

In [0]:
%sql
use catalog demo_catalog;
use library_schema

##### We are going to performa data aggregation by combing two or more tables silver tables to produce three seperate gold tables. The tables are:
  - most_borrowed_books_gold
  - delay_by_genre_gold
  - staff_count_by_role_gold
##### After this we use sql select statement to query the individual tables created to have a view of the dataset.

### Most borrowed books
#### This SQL statement is going to create most_borrowed_books_gold from borrowers_silver and books_silver tables after performing a join operation

In [0]:
%sql

CREATE OR REPLACE TABLE most_borrowed_books_gold AS
SELECT
  b.title,
  b.author,
  b.genre,
  COUNT(*) AS borrow_count
FROM borrowers_silver br
JOIN books_silver b ON br.book_isbn = b.isbn
GROUP BY b.title, b.author, b.genre
ORDER BY borrow_count DESC;

#### We are viewing the table to have a look at our data. We are limiting to just 10 role.

In [0]:
%sql

select * from most_borrowed_books_gold limit 10

### Average delay by genre
#### This SQL statement is going to create delay_by_genre_gold from borrowers_silver and books_silver tables after performing a join operation

In [0]:
%sql

CREATE OR REPLACE TABLE delay_by_genre_gold AS
SELECT
  b.genre,
  ROUND(AVG(br.return_delay_days), 2) AS avg_return_delay_days
FROM borrowers_silver br
JOIN books_silver b ON br.book_isbn = b.isbn
GROUP BY b.genre
ORDER BY avg_return_delay_days DESC;

In [0]:
%sql
-- We are viewing the table to have a look at our data. We are limiting to just 10 role.
select * from delay_by_genre_gold limit 10

In [0]:
%sql
-- Count of staff by role
-- This SQL statement is going to create taff_count_by_role_gold from staff_silver tables.
CREATE OR REPLACE TABLE staff_count_by_role_gold AS
SELECT
  role,
  COUNT(*) AS staff_count
FROM staff_silver
GROUP BY role
ORDER BY staff_count DESC;

In [0]:
%sql
-- We are viewing the table to have a look at our data. We are limiting to just 10 role.
select * from staff_count_by_role_gold limit 10