Silver Layer - Clean and Standardize (SQL Version)

In this layer we are going to clean and transform the raw Bronze data by:
  - Casting dates to proper format
  - Handling missing/null values
  - Adding `return_delay_days` to track delays
  
You can think of this as librarians organizing, tagging, and fixing messy book records.

##### We are going to clean and standize the three bronze tables to produce three separate sliver tables. The tables are:
  - books_silver
  - borrowers_silver
  - staffs_silver
##### After this we use sql select statement to query the individual tables created to have a view of the dataset.

#### This SQL statement is going to create books_silver from books_bronze table after cleaning and transforming the selected rows in the books_bronze.
- The coalesce() function helps us to handle null values by giving us the option to provide a default.
- The cast() function helps us to channge the data type

In [0]:
%sql
 
CREATE OR REPLACE TABLE books_silver AS
SELECT
  COALESCE(isbn, 'unknown') AS isbn,
  COALESCE(title, 'Untitled') AS title,
  COALESCE(author, 'Unknown Author') AS author,
  COALESCE(genre, 'Unknown') AS genre,
  CAST(publish_date AS DATE) AS publish_date,
  CAST(pages AS INT) AS pages
FROM books_bronze;

#### We are viewing the table to have a look at our data. We are limiting to just 10 role.

In [0]:
%sql

select * from books_silver limit 10

#### This SQL statement is going to create borrowers_silver from borrowers_bronze table after cleaning and transforming the selected rows in the books_bronze. 
- The coalesce() function helps us to handle null values by giving us the option to provide a default.
- The cast() function helps us to channge the data type
- The datediff() function helps to get the difference between two dates

In [0]:
%sql

CREATE OR REPLACE TABLE borrowers_silver AS
SELECT
  COALESCE(user_id, 'unknown') AS user_id,
  COALESCE(name, 'anonymous') AS name,
  COALESCE(book_isbn, 'unknown') AS book_isbn,
  CAST(COALESCE(borrow_date, '2000-01-01') AS DATE) AS borrow_date,
  CAST(COALESCE(return_date, current_date()) AS DATE) AS return_date,
  DATEDIFF(
    CAST(COALESCE(return_date, current_date()) AS DATE),
    CAST(COALESCE(borrow_date, '2000-01-01') AS DATE)
  ) AS return_delay_days
FROM borrowers_bronze;

#### We are viewing the table to have a look at our data. We are limiting to just 10 role.

In [0]:
%sql

select * from borrowers_silver limit 10

#### This SQL statement is going to create staff_silver from staff_bronze table after cleaaing and transforming the selected rows in the staff_bronze. 
- The coalesce() function helps us to handle null values by giving us the option to provide a default.
- The cast() function helps us to channge the data type

In [0]:
%sql

CREATE OR REPLACE TABLE staff_silver AS
SELECT
  COALESCE(staff_id, 'unknown') AS staff_id,
  COALESCE(name, 'anonymous') AS name,
  COALESCE(role, 'unknown') AS role,
  CAST(COALESCE(hire_date, '2000-01-01') AS DATE) AS hire_date
FROM staff_bronze;

#### We are viewing the table to have a look at our data. We are limiting to just 10 role.

In [0]:
%sql

select * from staff_silver limit 10